.clock-container {
  display: flex;
  justify-content: center  ;
  align-items: center ;
  height: 100vh;
}

.clock {
  font-size: 3rem;
  font-family: 'Arial', sans-serif;
  color:#00FFFF;
  background-color:#000000;
  padding: 3rem;
  border-radius: 15rem;
}
